<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="headerCss">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}" />
</head>

<body>
<div th:fragment="header" style="background-color: #e4edec; position: top: 0; ">


    <div th:class="content" >

        <a th:href="@{/home}"><img th:src="@{/css/logo1.gif}" width="266px" height="91px"></a>
        <div th:class="AuthMenu">
            <span sec:authorize="isAuthenticated()" sec:authentication="name" /><br>
            <span>
             <a th:href="@{/login}"  sec:authorize="isAnonymous()" th:text="Logowanie" />
             <a th:href="@{/logout}"  sec:authorize="isAuthenticated()" th:text="Wyloguj" />
        </span>
        </div>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/home}">Strona startowa</a>
                </li>
                <li>
                    <a th:href="@{/stocks}">Kurs walut</a>
                </li>
                <li>
                    <a th:href="@{/alerts}"  sec:authorize="isAuthenticated()">Alerty</a>
                </li>
                <li>
                    <a th:href="@{/users}" sec:authorize="hasRole('ADMIN')" th:text="Użytkownicy" />
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>