<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <div class="container">
        <p>Błąd 500</p>
       <!-- <div class="starter-template">
            <h1 th:text="#{error.title} + ' 500'"></h1>
            <h3 th:text="#{error.internal}"></h3>
            <a href="/home" th:text="#{home.back}"></a>
        </div>-->
    </div>


    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>