<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content">
    <div class="articleShort">
        <h1>Błąd 500</h1>
        <h2>Błąd serwera</h2>
        <a href="/home">strona startowa</a>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>