<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h4>Witaj!</h4>
<p>Dziękuję za odwiedzenie mojej strony.</p>
<p>Pozdrawiam: Marcin Janowski</p>
<p>email: <u>marcinzrzeszowa@gmail.com</u></p>
<p>Moje repozytorium: <a href="https://github.com/marcinzrzeszowa">github</a></p>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>