<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div th:class="content">
        <h4>Witam i pozdrawiam </h4>
        <p>Marcin Janowski</p>
        <br>
        <p>Email: <u>marcinzrzeszowa@gmail.com</u></p>
    </div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>



