<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:class="content">
      <div class="articleShort">
          <div class="contentLeft">
              <p th:utext="${article.getShortDescription} " style="font-style: italic;"/>
              <p th:utext="${article.getDescription}" />
          </div>
      </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>