<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerCss">
</head>

<body>

<div th:replace="fragments/header :: header"></div>
<div>
            <form  th:object="${articleForm}"  method="POST">
                <fieldset>
                        <!--<label th:text="#{articleForm.shortDescription}"></label>-->
                        <label>Tytuł</label>
                        <input type="text" th:field="*{shortDescription}" title="Opis" autofocus="true" />

                        <label>Treść artykułu</label>
                        <textarea type="text" th:field="*{description}"  autofocus="false" />

                    <input th:if="${action} == 'newArticle'"   type="submit" th:action="@{/articles/new}"  th:value="Dodaj" />
                    <input th:if="${action} == 'editArticle'"  type="submit" th:action="@{/articles/edit/{id}}" th:value="Zapisz"  />
                </fieldset>
            </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>