<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="center">

    <!--
    My View

    List<Test> test = new ArrayList<>();
    model.addAttribute("test", test);
    List<Test> tests = testRepository.findAll();
    model.addAttribute("tests", tests);

My HTML

<div class="col-lg-3" th:object="${test}">
    <select class="form-control" id="testOrder" name="testOrder">
        <option value="">Select Test Order</option>
        <option th:each="test : ${tests}"
                th:value="${test.testCode}"
                th:text="${test.testCode}+' : '+${test.testName}"></option>
    </select>
</div>
-->
    <form method="post" th:object="${alertForm}">


            <select id="ticker" name="tricker">
                <option value="">Ticker</option>
                <option th:each="key: ${tickers.keySet()}"
                        th:value="${key}"
                        th:text="${tickers.get(key)}"></option>
            </select>


        <fieldset>
            <label>Symbol kursu
                <input type="text" th:field="*{ticker}"/>
            </label>
            <label>Opis
                <input type="text" th:field="*{description}"/>
            </label>
            <label>Cena maksymalna
                <input type="number" th:field="*{maxPrice}"/>
            </label>
            <label>Cena minimalna
                <input type="number" th:field="*{minPrice}"/>
            </label>
            <label>Alert aktywny
                <input  type="checkbox" th:field="*{Active}"/>
            </label>
            <br>
            <input th:if="${action} == 'newAlert'"   type="submit" th:action="@{/alerts/new}"  th:value="Dodaj" />
            <input th:if="${action} == 'editAlert'"  type="submit" th:action="@{/alerts/edit/{id}}" th:value="Zapisz"  />
        </fieldset>
    </form>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>