<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

  <div th:each="stock: ${stockApiWrapper}">

         <p th:text="'Kurs: '+ ${stock.getStock().getSymbol()}"/>

          <p th:text="'Cena: '+ ${stock.getStock().getQuote().getPrice()}"/>

  </div>

<!--
findLastChangeInPercent()

findChangeFrom200AvgInPercent
-->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>