<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerCss">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div th:class="content">
    <div class="articleShort">
    <h4>Notowania giełdowe <img th:src="@{/css/chart.png}" width="30px" /></h4>
    <br>
<table >
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Symbol</th>
        <th>Cena Zamknięcia D</th>
        <th>Zmiana Ceny D</th>
        <th>Średnia 50 D</th>
        <th>Średnia 200 D</th>
       <!-- <th sec:authorize="isAuthenticated()">Alert Użytkownika</th>-->
    </tr>
    <tr th:each="stockElement: ${stocks}">
        <td th:text="${stockElement.getName()} ?: 'null'"/>
        <bolt><td th:text="${stockElement.getPrice()}" th:style="'color: blue;'"/></bolt>
        <td th:text="${stockElement.getSymbol()}"/>
        <td th:text="${stockElement.getPreviousClose()}"/>
        <td th:text="${stockElement.getChangeInPercent() +' %'}" th:style="${stockElement.getChangeInPercent() > 0 ? 'color: green;' : 'color: red;'}"/>
        <td th:text="${stockElement.getChangeFromAvg50InPercent() +' %'}" th:style="${stockElement.getChangeFromAvg50InPercent()  > 0 ? 'color: green;' : 'color: red;'}"/>
        <td th:text="${stockElement.getChangeFromAvg200InPercent() +' %'}" th:style="${stockElement.getChangeFromAvg200InPercent() > 0 ? 'color: green;' : 'color: red;'}"/>
     <!--   <td sec:authorize="isAuthenticated()" >
            <a sec:authorize="isAuthenticated()"  th:href="@{'/stocks/{ticker}'(ticker=${stockElement.getSymbol()})}">Dodaj</a>
        </td>-->
    </tr>
</table>
    <h5>Legenda</h5>
        <div th:class="contentLeft">
        <ul class="legend">
        <li>
            Nazwa - Nazwa własna używana na stronie pomagająca zidentyfikować kurs akcji, kursu waluty&nbsp;lub indeksu .
        </li>
        <li>
            Symbol - Symbol giełdowy akcji, kursu waluty, lub indeksu .
        </li>
        <li>
            Cena Zamknięcia D - Cena w zamknięcia notowania dnia poprzedniego.
        </li>
        <li>
            Cena - Aktualna cena pobrana w momence załadowania strony.
        </li>
        <li>
            Zmiana Ceny D - Procentowa zniama ceny z dniowych notowań.
        </li>
        <li>
            Średnia 50 D - Prosta średnia krocząca (SMA – Simple Moving Average). Średnia arytmetyczną z&nbsp;zakresu 50 dni.
        </li>
        <li>
            Średnia 200 D - Prosta średnia krocząca (SMA – Simple Moving Average). Średnia arytmetyczną z&nbsp;zakresu 200 dni.
        </li>
        </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>